body {
	background-color: #ededed;
	font-size: 14px;
	font-family: 'Ovo';
}


.rounded {
	border-radius: 10px;
	padding:10px;
}

.grey {
	background-color: #ccc;
}

div {
	margin-top: 3px;
}

svg {
	background-color: #fff;
}

div.notice-area {
	width: 300px;
	position: fixed;
	top: 10px;
	left:50%;
	margin-left: -150px;
	color: #fff;
	text-align: center;
	vertical-align: center;
	font-family: 'Open Sans';
	font-weight: 700;
}

div.notice-area div {
	border-radius: 10px;
	padding: 10px;
	margin: 3px;
}

div.notice {
	background-color: #6a9cbe;
}

div.warning {
	background-color: #ff7e00;
}

div.log {
	border: solid 2px #ccc;
	border-radius: 2px;
	padding: 5px;
	font-family: 'Inconsolata';
}

div.log div {
	margin-top: 2px;
	background-color: #ccc;
	border-radius: 1em;
	padding: 2px 10px 2px 10px;
}


/*
 * SVG styles
 */
#plot path {
	fill: none;
 	stroke: #ff7e00;
	stroke-width: 2px;
}