body {
	background-color: #ededed;
}


.rounded {
	border-radius: 10px;
	padding:10px;
}

.grey {
	background-color: #ccc;
}

div {
	margin-top: 3px;
}

svg {
	background-color: #fff;
}



/*
 * SVG styles
 */
#plot path {
	fill: none;
 	stroke: #ff7e00;
	stroke-width: 2px;
}