/*
 * colours:
 * white 1: #E8E8E8
 * white 2: #DBDBDB
 * white 3: #D1D1D1
 * dark:	#333
 * dark 2:	#3F3F3F
 * 
 * trace:   #C5DDEA
 * debug:	#A6D0E8
 * info:	#88BEE2
 * warn:	#D8C53D
 * error:	#D8782A
 * fatal: #B72C2C
 *
 * blue:	#3B5F93
 */

body {
	background-color: #333;
	font-size: 13px;
	font-family: 'Bitter';
	font-weight: 400;
	color: #E8E8E8;
}

div.container {
	width: 460px;
	margin-left: 50px;
/*	margin: 0px auto 0px auto;*/
}

h1, h2 {
	font-size: 3.5em;
	font-weight: 700;
	margin-top: 0.5em;
	margin-bottom: 0.2em;
	color: #E8E8E8;
}

h2 {
	margin-top: 70px;
}


p {
	color: #E8E8E8;
	margin-top: 1em;
}
hr {
	height: 0.5em;
	background-color: #E8E8E8;
}

svg {
	background-color: #fff;
}

div.notice-area {
	width: 300px;
	position: fixed;
	top: 10px;
	left:50%;
	margin-left: -150px;
	color: #fff;
	text-align: center;
	vertical-align: center;
	font-family: 'Open Sans';
	font-weight: 700;
}

div.notice-area div {
	border-radius: 10px;
	padding: 10px;
	margin: 3px;
}

div.notice-area div.notice {
	background-color: #88BEE2;
}

div.notice-area div.warning {
	background-color: #D8C53D;
}

div.log {
	margin-top: 1em;
	font-weight: 400;
}
div.log div {
	margin-top: 2px;
	background-color: #3F3F3F;
	border-radius: 2px;
	padding: 2px 3px 2px 3px;
}

div.log div.sessionMarker {
	background-color: #3B5F93;
	text-align: center;
	border-radius: 1em;
	color: #D1D1D1;
}

div.trace { color: #C5DDEA; }
div.debug { color: #A6D0E8; }
div.info { color: #88BEE2; }
div.warn { color: #D8C53D; }
div.error { color: #D8782A; }
div.fatal { color: #B72C2C; }

.trace-back { background-color: #C5DDEA; }
.debug-back { background-color: #A6D0E8; }
.info-back { background-color: #88BEE2; }
.warn-back { background-color: #D8C53D; }
.error-back { background-color: #D8782A; }
.fatal-back { background-color: #B72C2C; }

.trace-border { border-color: #C5DDEA; }
.debug-border { border-color: #A6D0E8; }
.info-border { border-color: #88BEE2; }
.warn-border { border-color: #D8C53D; }
.error-border { border-color: #D8782A; }
.fatal-border { border-color: #B72C2C; }

div.cube {
	width: 65px;
	height: 65px;
	border-radius: 14px;
	margin-right: 14px;
	float: left;
}

div.cube:last-child {
	margin-right: 0px;
}

#clearLog {
	background-color: #B72C2C;
	float: right;
}

.rounded-inline {
	border-radius: 1em;
	padding: 3px 7px 3px 7px;
}

span.lines {
	background-color: #D1D1D1;
	color: #333;
}

#lineCounter {
	background-color: #E8E8E8;
	margin-left: -7px;
	padding
}

input {
	background-color: #3F3F3F;
	color: #E8E8E8;
	border: none;
	font-family: 'Bitter';
	font-weight: 700;
	width: auto;
}

button {
	background-color: #B72C2C;
	border-radius: 1em;
	border: none;
	font-family: 'Bitter';
	color: #D1D1D1;
}

div.scalar {
	margin-top: 1em;
	margin-bottom: 1em;
}

div.tile {
	width: 150px;
	height: 150px;
	margin-right: 5px;
	margin-top: 5px;
	background-color: #3F3F3F;
	float: left;
	border-radius: 0.5em;
}

div.tile:nth-child(3n) {
	margin-right: 0px;
}




/*
 * SVG styles
 */
#plot path {
	fill: none;
 	stroke: #ff7e00;
	stroke-width: 2px;
}